* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}
:root {
  --primary-text: #000000;
  --secondary-text: #747171;
  --primary-color: #f9a826;
  --secondary-color: #ffffff;
  --btn-color: #965c49;
  --box-shadow: #979494;
  --primary-font: "Poppins", sans-serif;
  --primary-alert: #80b918;
  --success-alert: #dee2e6;
  --info-alert: #4cc9f0;
  --warning-alert: #d62828;
  --default-color: #000000;
  --pink: #e76f51;
  --border: rgba(0, 0, 0, 0.3);
}

.nav-heading {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  color: var(--default-color);
}

.nav-description {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: var(--secondary-text);
}

.header-title {
  font-size: 2rem;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  color: var(--default-color);
}
section {
  padding: 1rem;
}

.header .header-1 {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.header .header-1 .search-form {
  width: 50rem;
  height: 2rem;
  border: 1px solid var(--border);
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.header .header-1 .search-form input {
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
}

.header .header-1 .search-form label {
  font-size: 1rem;
  padding: 1.5rem;
  cursor: pointer;
}

.header .header-1 .icons div,
.header .header-1 .icons a {
  margin-left: 1.5rem;
  cursor: pointer;
}

.header .header-1 .icons a {
  color: var(--default-color);
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
  color: var(--secondary-color);
}

#search-btn {
  display: none;
}

.header {
  background: var(--pink);
}

.header .header-1 .logo {
  font-size: 1rem;
  padding-right: 1rem;
  font-weight: bolder;
  color: var(--default-color);
}

.header .header-1 .logo i {
  color: var(--pink);
}
