<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css"
    />
    <link rel="stylesheet" href="text.css">
    <link rel="stylesheet" href="/styles.css" />
    <title>UiPlugIn | Text-Utility</title>
  </head>
  <body>
    <!-- NavBar -->

    <nav class="navigation container">
      <i class="nav-icon fab fa-uikit"></i>
      <div class="nav-brand">UiPlugIn</div>
      <ul class="list-non-bullet nav-pills">
        <li class="list-item-inline">
          <a class="link" href="/"_blank">Home</a>
        </li>

        <li class="list-item-inline">
          <a class="link" href="/docs.html">Documentation</a>
        </li>
      </ul>
    </nav>
    <!-- Navbar -->

    <main class="main-content">
      <!-- Sidebar -->
      <aside class="side-nav">
        <p class="sidebar-heading">Components</p>
        <ul class="sidebar-list">
          <li><a href="/component/avatar/avatar.html">Avatars</a></li>
          <li><a href="/component/badge/badge.html">Badges</a></li>
          <li><a href="/component/alert/alert.html">Alerts</a></li>
          <li><a href="/component/button/button.html">Buttons</a></li>
          <li><a href="/component/card/card.html">Cards</a></li>
          <li><a href="/component/image-responsive/image.html">Images</a></li>
          <li><a href="/component/input/input.html">Inputs</a></li>
          <li><a href="/component/text/text-utility.html" class="active">Text</a></li>
        </ul>
      </aside>

    <!--Typography -->
    <div class="doc-content">
      <h1 class="txt-heading">Typography</h1>
          <p class="txt-description grey-txt">
            A typography gives basic text layout and styling for your page.
          </p>
      <!-- Headings -->
      <h3 class="heading">Headings</h3>
      <div class="headings">
          <h1>This is h1 heading</h1>
          <h2>This is h2 heading</h2>
          <h3>This is h3 heading</h3>
          <h4>This is h4 heading</h4>
          <h5>This is h5 heading</h5>
          <h6>This is h6 heading</h6>
        </div>
          
      <!-- Code -->
      <div class="code">
        <pre>
        <code class="html">
          <div class="headings">
            <h1>This is h1 heading</h1>
            <h2>This is h2 heading</h2>
            <h3>This is h3 heading</h3>
            <h4>This is h4 heading</h4>
            <h5>This is h5 heading</h5>
            <h6>This is h6 heading</h6>
          </div>
        </code>
      </pre>
      <hr />

      <!-- Small-Text -->
      <h3 class="heading">Small Text</h3>
      <small class="sm-txt">This is a small text.</small>

      <!-- Code -->
      <div class="code">
        <pre>
        <code class="html">
          <small class="sm-txt">This is a small text.</small>
        </code>
      </pre>
      </div>
      <hr />

      <!-- Gray Text -->
       <h3 class="heading">Grey Text</h3>
       <p class="grey-txt">This is a grey text.</p>
       <!-- Code -->
       <div class="code">
        <pre>
        <code class="html">
          <p class="gray-txt">This is a grey text.</p>
        </code>
      </pre>
      </div>
       <hr />

      <!-- Gray Text -->
      <h3 class="heading">Centered Text</h3>
      <p class="center-txt">This is a centered text.</p>
      <!-- Code -->
      <div class="code">
        <pre>
        <code class="html">
          <p class="center-txt">This is a centered text.</p>
        </code>
      </pre>
      </div>
      </div>
      </div>
    </main>


    <!--End-Typography-->

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-heading">Social Presence</div>
      <ul class="social-links list-non-bullet">
        <li class="list-item-inline">
          <a class="link" href="https://github.com/sahiba0915" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li class="list-item-inline">
          <a
            class="link"
            href="https://twitter.com/Sahiba_Kumari"
            target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li class="list-item-inline">
          <a
            class="link"
            href="https://www.linkedin.com/in/sahiba0915"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i
          ></a>
        </li>
      </ul>
      <div class="footer-copyright">© copyright 2022 UiPlugIn</div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="/app.js"></script>
    <script>hljs.highlightAll();</script>
  </body>
</html>
