<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css"
    />
    <link rel="stylesheet" href="image.css" />
    <link rel="stylesheet" href="/styles.css" />
    <title>UiPlugIn | Image</title>
  </head>
  <body>
    <!-- NavBar -->

    <nav class="navigation container">
      <i class="nav-icon fab fa-uikit"></i>
      <div class="nav-brand">UiPlugIn</div>
      <ul class="list-non-bullet nav-pills">
        <li class="list-item-inline">
          <a class="link" href="/">Home</a>
        </li>

        <li class="list-item-inline">
          <a class="link" href="/docs.html">Documentation</a>
        </li>
      </ul>
    </nav>
    <!-- Navbar -->

    
    <main class="main-content">
      <!-- Sidebar -->
      <aside class="side-nav">
        <p class="sidebar-heading">Components</p>
        <ul class="sidebar-list">
          <li><a href="/component/avatar/avatar.html">Avatars</a></li>
          <li><a href="/component/badge/badge.html">Badges</a></li>
          <li><a href="/component/alert/alert.html">Alerts</a></li>
          <li><a href="/component/button/button.html">Buttons</a></li>
          <li><a href="/component/card/card.html">Cards</a></li>
          <li><a href="/component/image-responsive/image.html">Images</a></li>
          <li><a href="/component/input/input.html">Inputs</a></li>
          <li><a href="/component/text/text-utility.html" class="active">Text</a></li>
        </ul>
      </aside>

    <!--Responsive Image -->
    <div class="doc-content">
    <section class="img-container" id="image">
      <h1 class="img-heading">Images</h1>
      <p class="img-description">
        A image should be responsive to fit into a container or according to parent
        element width. UiPlugIn supports two types of images, which you can easily customise accordingly.
      </p>

      <!-- Responsive image -->
      <h3 class="img-title">Responsive Image</h3>
      <div class="res-img">
        <img src="/images/NahargarhFort.jpg" alt="image" />
      </div>

      <!-- Code -->
      <div class="code">
        <pre>
          <code class="html">
            <div class="res-img">
              <img src="/images/NahargarhFort.jpg" alt="image" />
            </div>
          </code>
        </pre>
      </div>
      <hr />

      <!-- Rounded image -->
      <h3 class="img-title">Responsive Rounded Image</h3>
      <div class="res-img">
        <img class="rounded" src="/images/NahargarhFort.jpg" alt="image" />
      </div>

      <!-- Code -->
      <div class="code">
        <pre>
          <code class="html">
            <div class="res-img">
              <img class="rounded" src="/images/NahargarhFort.jpg" alt="image" />
            </div>
          </code>
          </code>
        </pre>
      </div>
    </section>
  </div>
</main>
 

    <!--End-Badge-->

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-heading">Social Presence</div>
      <ul class="social-links list-non-bullet">
        <li class="list-item-inline">
          <a class="link" href="https://github.com/sahiba0915" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li class="list-item-inline">
          <a
            class="link"
            href="https://twitter.com/Sahiba_Kumari"
            target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li class="list-item-inline">
          <a
            class="link"
            href="https://www.linkedin.com/in/sahiba0915"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i
          ></a>
        </li>
      </ul>
      <div class="footer-copyright">© copyright 2022 UiPlugIn</div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="/app.js"></script>
    <script>hljs.highlightAll();</script>
  </body>
</html>
