<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css"
    />
    <link rel="stylesheet" href="alert.css" />
    <link rel="stylesheet" href="/styles.css" />
    <title>UiPlugIn | Alert</title>
  </head>
  <body>
    <!-- NavBar -->

    <nav class="navigation container">
      <i class="nav-icon fab fa-uikit"></i>
      <div class="nav-brand">UiPlugIn</div>
      <ul class="list-non-bullet nav-pills">
        <li class="list-item-inline">
          <a class="link" href="/index.html">Home</a>
        </li>

        <li class="list-item-inline">
          <a class="link" href="/docs.html">Documentation</a>
        </li>
      </ul>
    </nav>
    <!-- Navbar -->

    <main class="main-content">
      <!-- Sidebar -->
      <aside class="side-nav">
        <p class="sidebar-heading">Components</p>
        <ul class="sidebar-list">
          <li><a href="/component/avatar/avatar.html">Avatars</a></li>
          <li><a href="/component/badge/badge.html">Badges</a></li>
          <li><a href="/component/alert/alert.html">Alerts</a></li>
          <li><a href="/component/button/button.html">Buttons</a></li>
          <li><a href="/component/card/card.html">Cards</a></li>
          <li><a href="/component/image-responsive/image.html">Images</a></li>
          <li><a href="/component/input/input.html">Inputs</a></li>
          <li><a href="/component/text/text-utility.html">Text</a></li>
        </ul>
      </aside>

      <!--Alert -->
      <div class="doc-content">
        <section class="alert-container">
          <h1 class="alert-heading">Alert</h1>
          <p class="alert-description">
            An alert is used when you want to show an important message.
          </p>
          <h3 class="alert-title">Primary alert</h3>
          <div class="alert">
            <!-- Primary Alert -->
            <div class="primary-alert">
              <i class="fa-solid fa-circle-info"></i>This is an primary alert
            </div>
            <!-- Code -->
            <div class="code">
              <pre>
              <code class="html">
                <div class="alert">
                  <div class="primary-alert">
                    <i class="fa-solid fa-circle-info"></i>This is an primary alert
                  </div>
                </div>
              </code>
            </pre>
            </div>
            <hr />

            <!-- Success Alert -->
            <h3 class="alert-title">Success alert</h3>
            <div class="success-alert">
              <i class="fa-solid fa-square-check"></i>This is an success alert
            </div>
            <!-- Code -->
            <div class="code">
              <pre>
              <code class="html">
                <div class="alert">
                <div class="success-alert">
                  <i class="fa-solid fa-square-check"></i>This is an success alert
                </div>
                </div>
              </code>
            </pre>
            </div>
            <hr />

            <!-- Info Alert -->
            <h3 class="alert-title">Info alert</h3>
            <div class="info-alert">
              <i class="fa-solid fa-circle-info"></i>This is an info alert
            </div>
            <!-- Code -->
            <div class="code">
              <pre>
              <code class="html">
                  <div class="alert">
                    <div class="info-alert">
                      <i class="fa-solid fa-circle-info"></i>This is an info alert
                    </div>
                  </div>
              </code>
            </pre>
            </div>

            <hr />

            <!-- warning alert -->
            <h3 class="alert-title">Warning alert</h3>
            <div class="warning-alert">
              <i class="fa-solid fa-triangle-exclamation"></i>This is a warning
              alert
            </div>
            <!-- Code -->
            <div class="code">
              <pre>
              <code class="html">
                <div class="alert">
                <div class="info-alert">
                  <i class="fa-solid fa-circle-info"></i>This is an info alert
                </div>
              </div>
              </code>
            </pre>
            </div>
          </div>
        </section>
      </div>
    </main>

    <!--End-Alert-->

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-heading">Social Presence</div>
      <ul class="social-links list-non-bullet">
        <li class="list-item-inline">
          <a class="link" href="https://github.com/sahiba0915" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li class="list-item-inline">
          <a
            class="link"
            href="https://twitter.com/Sahiba_Kumari"
            target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li class="list-item-inline">
          <a
            class="link"
            href="https://www.linkedin.com/in/sahiba0915"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i
          ></a>
        </li>
      </ul>
      <div class="footer-copyright">© copyright 2022 UiPlugIn</div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="/app.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
