* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}
:root {
  --primary-text: #000000;
  --secondary-text: #747171;
  --primary-color: #f9a826;
  --secondary-color: #ffffff;
  --btn-color: #965c49;
  --box-shadow: #979494;
  --primary-font: "Poppins", sans-serif;
  --primary-alert: #80b918;
  --success-alert: #dee2e6;
  --info-alert: #4cc9f0;
  --warning-alert: #d62828;
  --default-color: #000000;
}
.alert-container {
  display: flex;
  flex-direction: column;
}
.alert-heading {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  color: var(--default-color);
}

.alert-description {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: var(--secondary-text);
}

.alert-title {
  font-size: 2rem;
  padding-top: 1.5rem;
  color: black;
}
.alert {
  display: flex;
  flex-direction: column;
}

.alert .primary-alert,
.warning-alert,
.info-alert,
.success-alert {
  max-width: 20rem;
  padding: 0.5rem;
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
  border-radius: 4%;
  padding: 1.5rem;
}

.alert i {
  padding-right: 0.5rem;
}

.alert .primary-alert {
  background-color: var(--primary-alert);
}

.alert .warning-alert {
  background-color: var(--warning-alert);
}

.alert .info-alert {
  background-color: var(--info-alert);
}

.alert .success-alert {
  background-color: var(--success-alert);
  color: var(--primary-alert);
}
