<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css"
    />
    <link rel="stylesheet" href="input.css" />
    <link rel="stylesheet" href="/component/button/button.css">
    <link rel="stylesheet" href="/styles.css" />
    <title>UiPlugIn | Alert</title>
  </head>
  <body>
    <!-- NavBar -->

    <nav class="navigation container">
      <i class="nav-icon fab fa-uikit"></i>
      <div class="nav-brand">UiPlugIn</div>
      <ul class="list-non-bullet nav-pills">
        <li class="list-item-inline">
          <a class="link" href="/"_blank">Home</a>
        </li>

        <li class="list-item-inline">
          <a class="link" href="/docs.html">Documentation</a>
        </li>
      </ul>
    </nav>
    <!-- Navbar -->

    <main class="main-content">
      <!-- Sidebar -->
      <aside class="side-nav">
        <p class="sidebar-heading">Components</p>
        <ul class="sidebar-list">
          <li><a href="/component/avatar/avatar.html">Avatars</a></li>
          <li><a href="/component/badge/badge.html">Badges</a></li>
          <li><a href="/component/alert/alert.html">Alerts</a></li>
          <li><a href="/component/button/button.html">Buttons</a></li>
          <li><a href="/component/card/card.html">Cards</a></li>
          <li><a href="/component/image-responsive/image.html">Images</a></li>
          <li><a href="/component/input/input.html">Inputs</a></li>
        </ul>
      </aside>

    <!--Input -->
    <div class="doc-content">
    <section class="input-container" id="input">
      <h1 class="input-heading">Input</h1>
      <p class="input-description">
        An input is used to take data from the user by creating them inside a
        form.
      </p>

      <!-- Textbox -->
      <h3 class="input-title">Textbox</h3>
      <div class="input">
        <label class="textbox">Username</label>
        <input class="input-field" id="text" type="text" placeholder="Username" />
      </div>

      <!-- Code -->
      <div class="code">
        <pre>
            <code class="html">
              <div class="input">
                <label class="textbox">Username</label>
                <input class="input-field" id="text" type="text" placeholder="Username" />
              </div>
            </code>
          </pre>
      </div>
      <hr />

      <!-- Textbox-Error styling-->
      <h3 class="input-title">Textbox with error</h3>
      <div class="input">
        <label class="textbox" id="error-text">Username</label>
        <input class="input-field" id="error" type="text" placeholder="Username" />
        <span class="error-msg"><i class="fa-solid fa-triangle-exclamation"></i>Invalid</span>
      </div>

      <!-- Code -->
      <div class="code">
        <pre>
            <code class="html">
              <div class="input">
                <label class="textbox" id="error-text">Username</label>
                <input class="input-field" id="error" type="text" placeholder="Username" />
                <span class="error-msg"><i class="fa-solid fa-triangle-exclamation"></i>Invalid</span>
              </div>
            </code>
          </pre>
      </div>
      <hr />

   <!-- Form-->
   <h3 class="input-title">Form</h3>
   <form class="input form-container">
     <label class="textbox">Username</label>
     <input class="input-field" id="text" type="text" placeholder="Username" />

     <label class="textbox">E-mail</label>
     <input class="input-field" id="text" type="email" placeholder="E-mail" />

     <label class="textbox">Password</label>
     <input class="input-field" id="text" type="password" placeholder="Password" />

  <div class="hero-btns">
      <button class="btns primary"><a href=".input-container"></a>Submit</button>
      </div>
  </form>


   <!-- Code -->
   <div class="code">
     <pre>
         <code class="html">
          <form class="input form-container">
            <label class="textbox">Username</label>
            <input class="input-field" id="text" type="text" placeholder="Username" />
       
            <label class="textbox">E-mail</label>
            <input class="input-field" id="text" type="email" placeholder="E-mail" />
       
            <label class="textbox">Password</label>
            <input class="input-field" id="text" type="password" placeholder="Password" />
       
         <div class="hero-btns">
             <button class="btns primary"><a href=".input-container"></a>Submit</button>
             </div>
         </form>
         </code>
       </pre>
   </div>

    </div>
    </section>
  </div>
</main>

    <!--End-Input-->

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-heading">Social Presence</div>
      <ul class="social-links list-non-bullet">
        <li class="list-item-inline">
          <a class="link" href="https://github.com/sahiba0915" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li class="list-item-inline">
          <a
            class="link"
            href="https://twitter.com/Sahiba_Kumari"
            target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li class="list-item-inline">
          <a
            class="link"
            href="https://www.linkedin.com/in/sahiba0915"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i
          ></a>
        </li>
      </ul>
      <div class="footer-copyright">© copyright 2022 UiPlugIn</div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="/app.js"></script>
    <script>hljs.highlightAll();</script>
  </body>
</html>
