* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

.avatar-container {
  display: flex;
  flex-direction: column;
}
.avatar-heading {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  color: var(--default-color);
}
:root {
  --primary-text: #000000;
  --secondary-text: #747171;
  --primary-color: #f9a826;
  --secondary-color: #ffffff;
  --btn-color: #965c49;
  --box-shadow: #979494;
  --primary-font: "Poppins", sans-serif;
  --primary-alert: #80b918;
  --success-alert: #dee2e6;
  --info-alert: #4cc9f0;
  --warning-alert: #d62828;
  --default-color: #000000;
}
.avatar-description {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: var(--secondary-text);
}

.avatar-title {
  font-size: 2rem;
  padding-top: 1rem;
  color: var(--default-color);
}
.avatar {
  display: flex;
  width: 10rem;
  margin: 2.5rem 0;
  gap: 2rem;
}

.reg-avatar {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.sm-avatar {
  width: 50%;
  border-radius: 50%;
  height: 50%;
}

.md-avatar {
  vertical-align: middle;
  width: 70%;
  border-radius: 50%;
  height: 70%;
}

.lg-avatar {
  vertical-align: middle;
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
