.avatar-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding: 1.5rem;
  padding-bottom: 2.5rem;
  font-family: var(--primary-font);
}
.avatar-heading {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  color: black;
}

.avatar-description {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: var(--secondary-text);
}

.avatar-title {
  font-size: 2rem;
  padding-top: 1.5rem;
  color: black;
}
.avatar {
  display: flex;
  width: 6.25rem;
  margin: 2.5rem;
  gap: 2rem;
}

.reg-avatar {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.sm-avatar {
  width: 50%;
  border-radius: 50%;
  height: 50%;
}

.md-avatar {
  vertical-align: middle;
  width: 70%;
  border-radius: 50%;
  height: 70%;
}

.lg-avatar {
  vertical-align: middle;
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
