<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css"
    />
    <link rel="stylesheet" href="ratings.css" />
    <link rel="stylesheet" href="/component/text/text.css" />
    <link rel="stylesheet" href="/styles.css" />
    <title>UiPlugIn | Range Slider</title>
  </head>
  <body>
    <!-- NavBar -->

    <nav class="navigation container">
      <i class="nav-icon fab fa-uikit"></i>
      <div class="nav-brand">UiPlugIn</div>
      <ul class="list-non-bullet nav-pills">
        <li class="list-item-inline">
          <a class="link" href="/index.html">Home</a>
        </li>

        <li class="list-item-inline">
          <a class="link" href="/docs.html">Documentation</a>
        </li>
      </ul>
    </nav>
    <!-- Navbar -->

    <main class="main-content">
      <!-- Sidebar -->
      <aside class="side-nav">
        <p class="sidebar-heading">Components</p>
        <ul class="sidebar-list">
          <li><a href="/component/avatar/avatar.html">Avatars</a></li>
          <li><a href="/component/badge/badge.html">Badges</a></li>
          <li>
            <a href="/component/alert/alert.html">Alerts</a>
          </li>
          <li><a href="/component/button/button.html">Buttons</a></li>
          <li><a href="/component/card/card.html">Cards</a></li>
          <li><a href="/component/image-responsive/image.html">Images</a></li>
          <li><a href="/component/input/input.html">Inputs</a></li>
          <li><a href="/component/text/text-utility.html">Text</a></li>
          <li><a href="/component/lists/list.html">Lists</a></li>
          <li><a href="/component/navigation/navigation.html">Navigation</a></li>
          <li><a href="/component/slider/slider.html">Range Sliders</a></li>
          <li><a href="/component/ratings/ratings.html" class="active">Ratings</a></li>
       </ul>
      </aside>

      <!--Slider-->
      <div class="doc-content">
        <h1 class="txt-heading">Ratings</h1>
        <p class="txt-description grey-txt">
          Rating provides insight into others opinions and experiences with a
          product. Use stars or other custom symbols.
        </p>
        <!-- Star ratings -->
        <div class="star-ratings">
          <h3 class="rating-title">Star Ratings</h3>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <!-- Code -->
        <div class="code">
          <pre>
            <code class="html">
                <div class="star-ratings">
                    <h3 class="rating-title">Star Ratings</h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
            </code>
          </pre>
        </div>
        <hr />
        <!-- End -->

        <!-- ratings for ecommerce -->
        <div class="ratings">
          <h3 class="rating-title">User Ratings</h3>
          <div>
            <label><input type="radio" name="ratings" />4stars & above</label>
          </div>
          <div>
            <label><input type="radio" name="ratings" />3stars & above</label>
          </div>
          <div>
            <label><input type="radio" name="ratings" />2stars & above</label>
          </div>
          <div>
            <label><input type="radio" name="ratings" />1star & above</label>
          </div>
        </div>

        <!-- Code -->
        <div class="code">
          <pre>
              <code class="html">
                <div class="ratings">
                    <h3 class="rating-title">User Ratings</h3>
                    <div>
                      <label><input type="radio" name="ratings" />4stars & above</label>
                    </div>
                    <div>
                      <label><input type="radio" name="ratings" />3stars & above</label>
                    </div>
                    <div>
                      <label><input type="radio" name="ratings" />2stars & above</label>
                    </div>
                    <div>
                      <label><input type="radio" name="ratings" />1stars & above</label>
                    </div>
                  </div>
              </code>
            </pre>
        </div>

        <!-- Icon-Ratings -->
        <div class="icon-ratings">
          <h3 class="rating-title">Icon Ratings</h3>
          <span class="fa-solid fa-face-smile-beam checked"></span>
          <span class="fa-solid fa-face-frown"></span>
          <span class="fa-solid fa-face-meh"></span>
        </div>
        <!-- Code -->
        <div class="code">
          <pre>
              <code class="html">
                <div class="icon-ratings">
                    <h3 class="rating-title">Icon Ratings</h3>
                    <span class="fa-solid fa-face-smile-beam checked"></span>
                    <span class="fa-solid fa-face-frown"></span>
                    <span class="fa-solid fa-face-meh"></span>
                  </div>
              </code>
            </pre>
        </div>
        <hr />
        <!-- End -->
      </div>
    </main>

    <!--End-Alert-->

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-heading">Social Presence</div>
      <ul class="social-links list-non-bullet">
        <li class="list-item-inline">
          <a class="link" href="https://github.com/sahiba0915" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li class="list-item-inline">
          <a
            class="link"
            href="https://twitter.com/Sahiba_Kumari"
            target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li class="list-item-inline">
          <a
            class="link"
            href="https://www.linkedin.com/in/sahiba0915"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i
          ></a>
        </li>
      </ul>
      <div class="footer-copyright">© copyright 2022 UiPlugIn</div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="/app.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
