* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}
:root {
  --primary-text: #000000;
  --secondary-text: #747171;
  --primary-color: #f9a826;
  --secondary-color: #ffffff;
  --btn-color: #965c49;
  --box-shadow: #979494;
  --primary-font: "Poppins", sans-serif;
  --primary-alert: #80b918;
  --success-alert: #dee2e6;
  --info-alert: #4cc9f0;
  --warning-alert: #d62828;
  --default-color: #000000;
  --pink: #e76f51;
  --opacity: 0.3;
}

.model-title {
  font-size: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: black;
}

.model-description {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: var(--secondary-text);
}

#model {
  color: var(--default-color);
  position: fixed;
  z-index: 1;
  top: 50;
  width: 50%;
  height: auto;
  border: 2px solid var(--default-color);
  margin-top: 1rem;
  display: none;
  background-color: var(--primary-color);
  z-index: 2;
}

.model-content {
  padding: 10px;
  z-index: 1;
}

#close {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 1.5rem;
  color: var(--secondary-color);
  font-weight: 700;
}
