.btn-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding: 1.5rem;
  padding-bottom: 2.5rem;
  font-family: var(--primary-font);
}
.btn-heading {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  color: black;
}

.btn-description {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: var(--secondary-text);
}

.btn-title {
  font-size: 2rem;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: black;
}

.btns {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
  color: #000000;
}

.hero-btns .secondary {
  background-color: var(--btn-color);
}
.hero-btns .primary {
  background-color: var(--primary-color);
}

.hero-btns .orange {
  border: 5px solid var(--btn-color);
  background: none;
}

.hero-btns .black {
  border: 5px solid #000000;
  background: none;
}

.hero-btns .hovered:hover {
  border: 5px solid var(--btn-color);
  background-color: var(--secondary-color);
}

.hero-btns .disable {
  opacity: 0.6;
  cursor: not-allowed;
}
