* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}
:root {
  --primary-text: #000000;
  --secondary-text: #747171;
  --primary-color: #f9a826;
  --secondary-color: #ffffff;
  --btn-color: #965c49;
  --box-shadow: #979494;
  --primary-font: "Poppins", sans-serif;
  --primary-alert: #80b918;
  --success-alert: #dee2e6;
  --info-alert: #4cc9f0;
  --warning-alert: #d62828;
  --default-color: #000000;
}
.btn-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.btn-heading {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  color: var(--default-color);
}

.btn-description {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: var(--secondary-text);
}

.btn-title {
  font-size: 2rem;
  padding-top: 1rem;
  color: var(--default-color);
}

.btns {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
  color: #000000;
  border-radius: 5%;
}

.hero-btns .secondary {
  background-color: var(--btn-color);
}
.hero-btns .primary {
  background-color: var(--primary-color);
}

.hero-btns .orange {
  border: 5px solid var(--btn-color);
  background: none;
}

.hero-btns .black {
  border: 5px solid #000000;
  background: none;
}

.hero-btns .hovered:hover {
  border: 5px solid var(--btn-color);
  background-color: var(--secondary-color);
}

.hero-btns .disable {
  opacity: 0.6;
  cursor: not-allowed;
}
