* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}
:root {
  --primary-text: #000000;
  --secondary-text: #747171;
  --primary-color: #f9a826;
  --secondary-color: #ffffff;
  --btn-color: #965c49;
  --box-shadow: #979494;
  --primary-font: "Poppins", sans-serif;
  --primary-alert: #80b918;
  --success-alert: #dee2e6;
  --info-alert: #4cc9f0;
  --warning-alert: #d62828;
  --default-color: #000000;
}
.badge-container {
  display: flex;
  flex-direction: column;
}
.badge-heading {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  color: var(--default-color);
}

.badge-description {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: var(--secondary-text);
}

.badge-title {
  font-size: 2rem;
  padding-top: 1rem;
  color: var(--default-color);
}

.badge {
  display: flex;
  width: 20rem;
  margin: 2.5rem 0;
  gap: 2rem;
}

.badge-btn {
  position: relative;
  display: flex;
  display: inline;
  align-items: center;
  justify-content: center;
  width: 6.25rem;
  height: 6.25rem;
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 2rem;
}

.badge-text {
  position: absolute;
  top: -10%;
  right: -10%;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--btn-color);
  justify-content: center;
  color: var(--secondary-color);
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
}

.badge-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.badge-text-icon {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  width: 2rem;
  background-color: var(--btn-color);
  color: var(--secondary-color);
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-top-right-radius: 0.5rem;
  padding: 0.2rem 1.5rem 0 2rem;
}
